services:
  backend:
    build: ./backend
    environment:
      - PYTHONUNBUFFERED=1 # Forces Python to output logs immediately
    ports:
      - "8000:8000"
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "8080:80"

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: quickbasket
      POSTGRES_USER: quickbasket
      POSTGRES_PASSWORD: quickbasket
